*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
section{
    height:600px;
    padding-bottom:150px;
}

.flexible-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container,
.all-missions{
    width:80%;
    margin:0 auto;
}
.left-content,
.right-content{
    width:40%;
    padding-top:100px;
}
.left-content h1{
    font-size: 60px;
    color:#333333;
    font-family: 'Bebas Neue', cursive;
    padding-left:10px;
    border-left:5px solid #ff4756;
    border-radius: 20px;
    word-spacing: 5px;
}
.left-content p{
    color:#555;
    font-size:18px;
    font-family:'Poppins', sans-serif;;
    padding:30px 0;
}
.colored-title{
    color:#ff4756;
}
.left-content a.button{
    text-decoration: none;
    padding:10px 30px;
    background:#ff8b48;
    font-size:20px;
    color:#fff;
    border-radius:5px;
}
.right-content{
    display: flex;
    justify-content: flex-end;
}
.right-content img{
    width:70%;
    
}

.mission-section h1{
    text-align: center;
    font-size: 50px;
    font-family:'Bebas Neue';
    word-spacing: 10px;
    margin-bottom:40px;
}
.all-missions .mission-item{
    width:30%;
    padding:20px;
    border-radius:10px;
    background-color:#ffb1b84f;
    
}
.mission-item img{
    width:150px;
}
.mission-item h2{
    font-family: 'Poppins';
    font-weight:700;
    margin:5px 0;
}
.mission-item p{
    color:#555;
    font-size:18px;
    padding:20px 0;
    font-family: 'Poppins', sans-serif;
}