*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
section{
    height:600px;
    padding-bottom:150px;
}

.flexible-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container,
.all-missions,
.d-container,
.c-container{
    width:80%;
    margin:0 auto;
}
.left-content,
.right-content{
    width:40%;
    padding-top:100px;
}
.left-content .line{
    width:6px;
    height:150px;
    background:#ff4756;
    border-radius: 20px;
    float: left;
}
.left-content h1{
    font-size: 60px;
    color:#333333;
    font-family: 'Bebas Neue', cursive;
    padding-left:10px;
    border-radius: 20px;
    word-spacing: 5px;
}
.left-content p{
    color:#555;
    font-size:18px;
    font-family:'Poppins', sans-serif;;
    padding:30px 0;
}
.colored-title{
    color:#ff4756;
}
a.button{
    text-decoration: none;
    padding:10px 30px;
    background:#ff8b48;
    font-size:20px;
    color:#fff;
    border-radius:5px;
    font-family: 'Poppins';
}
.right-content{
    display: flex;
    justify-content: flex-end;
}
.right-content img{
    width:80%;
    
}

.mission-section h1{
    text-align: center;
    font-size: 50px;
    font-family:'Bebas Neue';
    word-spacing: 10px;
    margin-bottom:40px;
}
.all-missions .mission-item{
    width:30%;
    padding:20px;
    border-radius:10px;
    background-color:#8ac6ff6c;
    
}
.mission-item img{
    width:150px;
}
.mission-item h2{
    font-family: 'Poppins';
    font-weight:700;
    margin:5px 0;
    color:#1d1a1a;
}
.mission-item p{
    color:#555;
    font-size:18px;
    padding:20px 0;
    font-family: 'Poppins', sans-serif;
}

.development img,
.community img{
    width:100%;
}
.d-container,
.c-container{
    display:flex;
    align-items: center;
}
.development .left-section,
.community .right-section{
    width:80%;
}
.development .right-section{
    padding-left:50px;
    width:150%;
}
.community .left-section{
    width:150%;
    padding-right:50px;
}
.right-section h1,
.left-section h1{
    font-family: 'Poppins';
    color:#222;
    font-size:40px;
}
.right-section p,
.left-section p{
    padding:30px 0;
    font-family: 'Poppins';
    color:#666;
}
footer{
    height: 150px;
    width:100%;
    background-color: #0B0D17;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h1{
    color:white;
    padding:5px 0;
    text-align:center;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
footer p{
    text-align: center;
    font-family: 'Poppins';
    padding:5px 0;
    color:#666;
}